.home-page{
    background-color: rgb(230, 236, 250);
}

.home-page{



    .text-zone{

        padding: 12% 4%;
        display: grid;
        place-content: left;

        h1{
            font-size: xx-large;
            font-weight: bolder;
        }

        p{
            font-size: x-large;
        }
    }

}

